
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 18px;
    overflow: hidden;
    box-sizing: border-box;
}

/* Hide Unwanted Overflow */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

}


.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #191212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
    transition: opacity 1s ease-in-out;
    text-align: center;
}

.loader-logo {
    animation: bounce 2s infinite;
    position: relative;
    top: 50px;
}

.loader-logo h1{
    font-family: monospace;
    font-size: 60px;
    color: #e68900;
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.loader-text {
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    font-family: monospace;
}


.loading-spinner {
    width: 70px;
    height: 70px;
    border: 7px solid rgba(255, 255, 255, 0.669);
    border-top: 5px solid rgb(9, 59, 167);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Main Content (Initially Hidden) */
#view {
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in-out, visibility 0s linear 1s;
}



a{
    text-decoration: none;
    color: #eee;
}


header{
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 100;
    background-color: rgba(30, 15, 15, 0.388);
}

header a{
    margin: 40px;
}

.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.carousel .list .item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.carousel .list .item .content{
    position: absolute;
    top: 15%;
    width: 80%;
    max-width: 900px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 0 20px;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #000;
}


.carousel .list .item .content .author{
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic{
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
}

.carousel .list .item .content .title{
    color: #f1683a;
}


.carousel .list .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel .list .item .content button{
    border: none;
    background: rgb(0, 39, 97);
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: 600;

}


.carousel .list .item .content button:nth-child(2) {
    background-color: transparent;
    color: #022674;
    border: 1.5px solid #eeeeee;
    background-color: transparent;
}

/* Thumbnail Section */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 15px;
    overflow: hidden !important;

}

.thumbnail .items{
    width: 120px;/* was responsible for the image showing*/
    height: 180px;
    flex-shrink: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

}



.thumbnail .items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .items .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}


.thumbnail .items .title{
    font-weight: bold;
}

.arrow{
    position: absolute;
    top: 80%;
    right: 60%;
    width: 300px;
    height: 300px ;
    max-width: 30%;
    display: flex;
    gap: 10px;
}

.arrow button{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #f1683a;
    border: none;
    font-family: monospace;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 100;
    font-size: 40px;

}


.arrow button:hover{
    background-color: whitesmoke;
    color: black;
}

.carousel .list .item:nth-child(1){
    z-index: 1;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to{
        opacity: 1;
        filter: none;
        transform: translateY(0);
    }
}

.carousel .list .item:nth-child(1) .author{
    animation-delay: 1.2s;
}

.carousel .list .item:nth-child(1) .title{
    animation-delay: 1.4s;
}


.carousel .list .item:nth-child(1) .des{
    animation-delay: 1.6s;
}

.carousel .list .item:nth-child(1) .buttons{
    animation-delay: 1.8s;
}



/* show image on click design */
.carousel.next .list .item:nth-child(1) img{
    width: 120px;
    height: 180;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 10px;
    animation-delay: .9s;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
    
}

.carousel.next .thumbnail .items:nth-last-child(){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
    to{
        width: 120;
    }
}


.carousel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail {
    to{
        transform: translate(0);
    }
    
}

/* remove image */
.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage .5s linear 1 forwards;
}

@keyframes outImage {
    to{
        width: 120px;
        height: 180px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
    
}

.carousel.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carousel.next .arrow button,
.carousel.prev .arrow button{
    pointer-events: none;
}


/* Time Design */
.time{
    width: 0;
    height: 5px;
    background-color: #e68900;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time{
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning{
    to{
        width: 0;
    }
}




@media screen and (max-width: 708px) {
    .carousel .list .item .content{
        padding-right: 0;
    }

    .carousel .list .item .content .title{
        font-size: 2.0em;
    }

    .arrow button{
        background-color: #f1683a;
        width: 40px;
        height: 40px;
        font-size: 20px;
    
    }


    
header{
    width: 100%;
    padding: 10px;
}

header a{
    margin: 30px;
}

body{
    font-size: 14px;
}



.carousel .list .item .content .buttons{

    grid-template-rows: 30px;

}


.carousel .list .item .content .topic{
    font-size: 4em;
    line-height: 1.0em;
}


body {

    font-size: 14px;
}


.carousel .list .item .content .author{
    font-size: 15px;
    letter-spacing: 5px;
}


.carousel .list .item .content .topic{
    letter-spacing: 10px;
    font-size: 30px;
}
}