
.all-partner{
    display: flex;
    width: 100%;justify-content: space-between;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: flex-start;
    margin: 20px 0px;

    
}

.intro-partner{
    width: 40%;
    padding: 10px;
}

.intro-partner h3{
    color:  rgb(4, 77, 173);
    text-shadow: 0px 0px 10px rgb(190, 190, 190);
    font-size: 18px;
}

.intro-partner p{
    line-height: 1.2;
    text-align: justify;
    font-size: 15px;

}


.intro-partner img{
    width: 100%;
}
.fa-shield{
    color:  rgb(4, 77, 173);
    font-weight: 700;
    font-size: 18px;
}

.partner-btn{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 10px 0px;
}

.partner-btn button{
    padding: 8px 20px;
    border: none;
    background-color:rgb(234, 118, 23) ;
    color: white;
    font-weight: 600;
    cursor: pointer;

}
.partner-container {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    border-left: solid 1px #e47703 ;
    height: 500px;
}

.tab-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tab-list button {
    background: rgb(234, 233, 233);
    border: none;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.489);
    transition: background 0.3s;
    width: 50%;
}

.tab-list button.active {
    background-color:   #e47703;
    color: white;
}

.tab-list button:hover{
    background-color: #b3b3b4;
    
}

.content-area {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
}

.partner-content {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.partner-content.active {
    display: block;
}
.partner-content .partneriner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.partner-content .partneriner img{
    width: 15%;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {


    .partner-container {
        display: block;
        height: auto;
        border-left: none;
    }

    .content-area {
        width: 100%;
        box-shadow: none;
    }


    .tab-list {
        width: 100%;

    }
    
    .tab-list button.active {
        background-color:   #e47703;
        color: white;
    }
    .all-partner{
        display: block;
    }
    .intro-partner{
        width: 100%;
        padding: 0px;
    }
    .intro-partner h3{

        font-size: 20px;
    }

    .partner-content .partneriner img{
        width: 30%;
    }
} 